.container {
  padding: 0% 20%;
  font-family: var(--my-font-family);
}

.title {
  color: var(--secondary-text-color);
  font-family: var(--my-font-family);
  margin-top: 50px;
  margin-left: 20%;
}

.container > h1,
.container > h2 {
  color: var(--accent-color);
}

.container > h3,
.container > h4 {
  padding-left: 10px;
  border-left: 6px solid var(--base-color);
  color: var(--base-color);
}

.container > p > img {
  width: 80%;
  margin: 50px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .container {
    padding: 5% 0%;
  }
}

@media only screen and (min-width: 2000px) {
  .container {
    padding: 0 25%;
  }
  .title {
    margin-left: 25%;
  }
}
