.container {
  padding: 0% 20%;
  font-family: "Montserrat", sans-serif;
}

.title {
  color: rgb(169, 169, 169);
  font-family: var(--my-font-family);
  margin-top: 50px;
  margin-left: 20%;
}

.container > h1,
.container > h2 {
  color: rgb(0, 102, 255);
}

.container > h3,
.container > h4 {
  padding-left: 10px;
  border-left: 6px solid rgb(255, 111, 0);
  color: rgb(255, 111, 0);
}

.container > p > img {
  width: 80%;
  margin: 50px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .container {
    padding: 5% 0%;
  }
}

@media only screen and (min-width: 2000px) {
  .container {
    padding: 0 25%;
  }
  .title {
    padding-left: 25%;
  }
}
