@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap");

.footer {
  width: 100%;
  height: 375px;

  background-color: var(--footer-bg);
}

.strongText {
  color: var(--footer-secondary-text-color);

  font-size: 16px;
  font-family: var(--my-font-family);
  font-weight: 600;
}

.basicText {
  color: var(--footer-text-color);

  font-size: 15px;
  font-family: var(--my-font-family);
  font-weight: 200;
}
.createdByText {
  color: var(--text-color);

  font-family: var(--my-font-family);
  font-weight: 200;
}

.row80 {
  height: 80%;
}
.row20 {
  display: flex;
  justify-content: center;
  height: 20%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 33%;
}

/* Small screens, laptops (769px — 1200px) */
@media only screen and (max-width: 1200px) {
  .row80 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .column {
    width: 100%;
    margin: 10px 0px;
  }
  .createdByText {
    font-size: 12px;
  }
}

/* Desktops, large screens (1200px — 2000px) */
@media only screen and (min-width: 1200px) {
  .row80 {
    display: flex;
    justify-content: center;
  }
  .column {
    height: 100%;
  }
  .createdByText {
    font-size: 16px;
  }
}
