.gridContainer {
  padding: 50px 0;
  margin: 0;
}

.gridTitle {
  font-family: var(--my-font-family);
  font-weight: 600;
  color: var(--accent-color);
}

.grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25px;
  justify-content: center;
}

/* Mobiles (0 - 769px) */
@media only screen and (max-width: 769px) {
  .gridTitle {
    margin-left: 10px;
    font-size: 18px;
  }
}

/* Small screens, laptops (769px — 1200px) */
@media only screen and (min-width: 650px) and (max-width: 950px) {
  .gridTitle {
    font-size: 22px;
    transform: translateX(30px);
  }
}

/* Small screens, laptops (769px — 1200px) */
@media only screen and (min-width: 950px) and (max-width: 1340px) {
  .gridTitle {
    font-size: 25px;
    transform: translateX(40px);
  }
}

/* Desktops, large screens (1200px — 2000px) */
@media only screen and (min-width: 1340px) and (max-width: 2000px) {
  .gridTitle {
    font-size: 28px;
    transform: translateX(70px);
  }
}

@media only screen and (min-width: 2000px) {
  .gridTitle {
    font-size: 36px;
  }
}
