.container {
  position: relative;
  width: calc(100vw - 50px);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  position: absolute;
  z-index: 2;
  top: 0;

  width: 40%;
  height: 190px;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0);
}

.imageContainer > img {
  height: 180px;
}

.rollerContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px;
  max-width: 50%;
  min-width: 40%;
  display: flex;
  overflow-x: auto;
}

.rollerItem {
  margin: 0 12px;
  height: 150px;
  min-width: 150px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--itemBox-color);
  color: var(--item-text-color);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.082);
  transition: 0.2s;
}
.rollerItem:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.198);
}

.rollerItemImage {
  max-width: 60%;
  max-height: 50%;
}

.rollerItemTitle {
  margin-bottom: 10px;
  font-family: var(--my-font-family);
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: -20px;
}

@media only screen and (max-width: 622px) {
  .imageContainer {
    width: 40%;
  }
  .imageContainer > img {
    max-height: 90px;
  }
  .container {
    width: calc(100vw - 15px);
  }
}

@media only screen and (min-width: 622px) and (max-width: 2000px) {
  .rollerItem {
    height: 250px;
    min-width: 250px;
  }
  .container {
    height: 300px;
  }
}

@media only screen and (min-width: 2000px) {
  .rollerItem {
    height: 300px;
    min-width: 300px;
  }
  .imageContainer > img {
    height: 250px;
  }
  .container {
    margin-top: 50px;
    height: 500px;
  }
}
