.container {
  width: calc(100vw - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.imageContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer > img {
  height: 270px;
}

.rollerContainer {
  padding: 20px 30px;
  max-width: 60%;
  display: flex;
  overflow-x: auto;
}

.rollerItem {
  padding: 55px 10px 15px 10px;
  margin: 40px 15px;
  height: 175px;
  min-width: 175px;
  max-width: 275px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--my-tags-color);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.119);
  transition: 0.2s;
}
.rollerItem:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.rollerItemImage {
  max-width: 80%;
  max-height: 100%;
}

.rollerItemTitle {
  margin-bottom: 10px;
  font-family: var(--my-font-family);
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 10%;
}

@media only screen and (max-width: 622px) {
  .imageContainer > img {
    max-height: 130px;
  }
  .container {
    width: calc(100vw - 15px);
  }
}

@media only screen and (min-width: 2000px) {
  .rollerItem {
    height: 270px;
    width: 270px;
  }
}
