.circle {
  position: absolute;
  right: -350px;
  bottom: -500px;
}

.welcome {
  font-family: var(--my-font-family);
  font-weight: 100;
  position: absolute;
}

.titleText {
  font-family: var(--my-font-family);
  font-weight: 100;
  position: absolute;
}

@media only screen and (max-width: 580px) {
  .titleText {
    left: 15px;
    top: 29%;
    font-size: 26px;
    color: var(--base-color);
    font-weight: 200;
  }
  .welcome {
    left: 15px;
    top: 20%;
    font-size: 40px;
    color: var(--base-color);
    font-weight: 500;
  }
  .homeImage {
    display: none;
  }
  .circle {
    right: -500px;
  }
}

@media only screen and (min-width: 580px) and (max-width: 880px) {
  .welcome {
    left: 20%;
    top: 10%;
    font-size: 50px;
  }
  .titleText {
    left: 20%;
    top: 20%;
    font-size: 38px;
  }
  .homeImage {
    height: 40%;
    position: absolute;
    top: 30%;
  }
  .circle {
    right: -500px;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1300px) {
  .welcome {
    left: 20%;
    top: 10%;
    font-size: 55px;
  }
  .titleText {
    left: 20%;
    top: 20%;
    font-size: 38px;
  }
  .homeImage {
    top: 30%;
    height: 50%;
    position: absolute;
  }
}

@media only screen and (min-width: 1300px) {
  .titleText {
    left: 50%;
    top: 34%;
    font-size: 56px;
  }
  .welcome {
    left: 50%;
    top: 20%;
    font-size: 75px;
  }
  .homeImage {
    top: 20%;
    height: 60%;
    position: absolute;
  }
  .circle {
    top: 50%;
  }
}

@keyframes breathe {
  0% {
    width: 50vw;
    height: 50vw;
  }
  50% {
    width: 60vw;
    height: 60vw;
  }
  0% {
    width: 50vw;
    height: 50vw;
  }
}
